
# HTID:21359505: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:21359505:

# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress
